aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.2.10
attrs==19.3.0
autopep8==1.5.3
black==19.10b0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
coverage==5.1
Django==3.0.8
django-anymail==7.2
-e git://github.com/a-rmz/django-ilmoitin.git@0286a8438c0e75a9767832f2b3625360e18b3688#egg=django_ilmoitin
django-mailer==2.0.1
django-parler==2.0.1
flake8==3.8.3
graphene==2.1.8
graphene-django==2.11.0
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.10
importlib-metadata==1.6.1
iniconfig==1.0.0
isort==4.3.21
Jinja2==2.11.2
lockfile==0.12.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pathspec==0.8.0
pluggy==0.13.1
promise==2.3
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
pytest-django==3.9.0
pytz==2020.1
regex==2020.6.8
requests==2.24.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
Unidecode==1.1.1
urllib3==1.25.10
wcwidth==0.2.5
zipp==3.1.0
